.weather{
width: 100%;
background-color: #333;
margin: 0;
}

.w_left{
    width: 55%;
    float: left;
    padding-top: 3em;
    padding-bottom: -125px;
}


.w_right{
        width: 45%;
    float: right;
    
}


.climate_bg {
background-color: #fff;
text-align: center;
}

.weathericon {
    width: 70%;
  height: auto;
  overflow: hidden;
  margin-top: -90px;
  margin-bottom: -60px;
}

.info_bg {
background-color: #1ab1ed;
}

.i1{
    width: 50%;
    float: left;
text-align: center;
}
.i1 span{
    vertical-align: middle
}

.i2{
    width: 50%;
    float: right;
text-align: center;
}
.i2 span{
    vertical-align: middle
}


.dropicon {
width: 100px;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
}

.not-available, .failed {

}

.humidity {

}


.location {
    font-size: 5em;
text-align: center;
}

.temperature {
font-size: 10em;
text-align: center;
}

.windicon {
width: 100px;
  height: auto;
  overflow: hidden;
    vertical-align: middle;
}

.windspeed {

}

.windspeed p {

}

.updated{
font-size: 3em;
text-align: center;
border: 1px solid #333;
}
.updated:before {
content: "Last Updated: ";
}
.forecast{
    background-color: #fff;
    color: #333;
    text-align: center;

}
.forecast span{
    width: 127px;
 display: inline-block;
font-size: 2em;
padding-bottom: 5px;
}
.forecast span img{
    width: 100px;
  height: auto;
  margin-bottom: -10px;
}
